:root {
    --color-primary: #5ec576;
    --color-secondary: #ffcb03;
    --color-tertiary: #ff585f;
    --color-primary-darker: #4bbb7d;
    --color-secondary-darker: #ffbb00;
    --color-tertiary-darker: #fd424b;
    --color-primary-opacity: #5ec5763a;
    --color-secondary-opacity: #ffcd0331;
    --color-tertiary-opacity: #ff58602d;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #fff;
    line-height: 1.9;
    text-align: center;
  }

  img {
    max-width: 200px;
    border-radius: 50%;
    margin: 20px;
}

h1 {
    font-size: 5.5rem;
    line-height: 1.35;
  }
  
  
  header{
      font-size: 1.8rem;
      font-weight: 600;
      text-transform: uppercase;
      color: var(--color-tertiary);
      margin-bottom: 1rem;
  }

  main{
    color: #fff;
    font-size: 1.3rem;
  }
  footer p a{
    color: black;
    text-decoration: none;
    font-size: 1.1em;
  }
.page-wrapper{
 width: 320px;
 margin:auto;
 background : var( --gradient-primary)
}